<header class="header new-page-style">
    <div class="heading-title-holder"> <span class="heading-title">Register</span> </div>
</header>
<div class="container_ROW">
    <div class="container">
        <div class="profile-connect">
            <form name="kiosk_user">
                <fieldset>
                    <div class="inputfile-holder">
                        <!--<input type="file" name="#" class="fileholder-btn" size="0">-->
                        <sweetfileselect align="center" showprogress="util.showProgress" swfile="user.avatarUrl" attr1="50" class="fileholder-btn">
                        </sweetfileselect>
                        <span class="profile-img-main heart-big-profile">
                            <img  ng-show='userAvatar' ng-src="{{userAvatar}}" class="imgavatar"/>
                            <img src="images/capture-img.png" ng-click="capturePhoto()" alt="Profile Picture"  ng-show='!userAvatar'>
                        </span>
                    </div>

                    <input type="text" class="textfield-holder" name="#" placeholder="Full name" ng-model="kiosk.fullname">
                    <input type="text" name="#" placeholder="Vocation e.g. Barista" class="textfield-holder" ng-model="kiosk.vocation">

                    <a class="visibility-btn" ng-click="setVisibility()">Set visibility</a>
                    <a class="visibility-btn" ng-click="createPlaceKiosk()">Set Place</a>

                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="footer_GROUP">
    <div class="footer_HOLDER">
        <div class="profile-connect-bottom no_PADDING_TOP">
            <ul class="submit-holder register_BUTTON_HOLDER">
                <li><a ng-click="kioskRegisterCancel()">Cancel</a></li>
                <li><a ng-click="kioskRegister()" class="send-button register-button">Register</a></li>
            </ul>
        </div>
    </div>
</div>